[Desktop Entry]
Type=Service
Name=Falling Leaves
Comment=Falling leaves on an autumn background
Icon=preferences-desktop-wallpaper
ServiceTypes=Shell/DeclarativeWallpaper
X-Plasma-MainScript=ui/main.qml
X-Hawaii-PluginInfo-Author=Pier Luigi Fiorini
X-Hawaii-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Hawaii-PluginInfo-Name=org.hawaii.fallingleaves
X-Hawaii-PluginInfo-Version=1.0
X-Hawaii-PluginInfo-Website=http://www.maui-project.org/
X-Hawaii-PluginInfo-License=LGPL
X-Hawaii-PluginInfo-EnabledByDefault=true
