[Desktop Entry]
Name=Fresh Morning
Name[ar]=الصباح الجديد
Name[ast]=Mañana fresca
Name[be@latin]=Zaranak
Name[bg]=Свежа утрин
Name[bn]=তাজা সকাল
Name[bn_IN]=সকালের আবেশ
Name[ca]=Matí fresc
Name[ca@valencia]=Matí fresc
Name[cs]=Čerstvé ráno
Name[csb]=Swierzi pòrénk
Name[da]=Fresh Morning
Name[de]=Morgentau
Name[el]=Φρέσκο πρωινό
Name[en_GB]=Fresh Morning
Name[eo]=Freŝa mateno
Name[es]=Mañana fresca
Name[et]=Värske hommik
Name[eu]=Goiz freskoa
Name[fi]=Aamukaste
Name[fr]=Fraîcheur matinale
Name[fy]=Nije moarne
Name[ga]=Fresh Morning
Name[gl]=Mañá fresca
Name[gu]=તાજી સવાર
Name[he]=בוקר רענן
Name[hi]=ताजगी भरी सुबह
Name[hne]=ताजा बिहिनिया
Name[hr]=Svježe jutro
Name[hu]=Üde reggel
Name[ia]=Matino Fresc
Name[id]=Pagi Yang Segar
Name[is]=Ferskur morgunn
Name[it]=Prima mattina
Name[ja]=早朝
Name[kk]=Қайырлы таң
Name[km]=ព្រលឹម​ស្រស់
Name[kn]=ಆಹ್ಲಾದಕರ ಮುಂಜಾನೆ
Name[ko]=신선한 아침
Name[ku]=Roja Nû
Name[lt]=Šviežias rytas
Name[lv]=Svaigs rīts
Name[mai]=ताजगी भरल सुबह
Name[mk]=Свежо утро
Name[ml]=ഉണര്‍വ്വാര്‍ന്ന പ്രഭാതം
Name[nb]=Morgendugg
Name[nds]=De fröhe Morrn
Name[nl]=Vroege ochtend
Name[nn]=Morgondugg
Name[or]=ସତେଜ ସକାଳ
Name[pa]=ਸੱਜਰੀ ਸਵੇਰ
Name[pl]=Świeży poranek
Name[pt]=Manhã Fresca
Name[pt_BR]=Manhã de orvalho
Name[ro]=Dimineață răcoroasă
Name[ru]=Раннее утро
Name[si]=නැවුම් උදෑසන
Name[sk]=Svieže ráno
Name[sl]=Sveže jutro
Name[sr]=Јутарња свежина
Name[sr@ijekavian]=Јутарња свјежина
Name[sr@ijekavianlatin]=Jutarnja svježina
Name[sr@latin]=Jutarnja svežina
Name[sv]=Frisk morgon
Name[ta]=Fresh Morning
Name[te]=శుభోదయం
Name[tg]=Свежее утро
Name[th]=รุ่งอรุณที่แสนสดใส
Name[tr]=Taze Sabah
Name[uk]=Свіжий ранок
Name[wa]=Frisse matén
Name[x-test]=xxFresh Morningxx
Name[zh_CN]=晨露
Name[zh_TW]=清新的早晨

X-Mirage-PluginInfo-Name=Fresh_Morning
X-Mirage-PluginInfo-Author=Pablo León-Asuero Moreno
X-Mirage-PluginInfo-Email=kapuxino@gmail.com
X-Mirage-PluginInfo-License=LGPLv3
