[Desktop Entry]
Name=Nature
Name[it]=Natura
Comment=Unspoiled landscapes, breathtaking sunsets, colorful plants and butterflies, exotic animals.
Comment[it]=Paesaggi incontaminati, tramonti mozzafiato, piante e farfalle colorate, animali esotici.
