[Desktop Entry]
Name=Fields of Peace
Name[ar]=حقول السلام
Name[ast]=Praos de paz
Name[be@latin]=Mirnaje pole
Name[bg]=Полета на мира
Name[bn]=শান্তিক্ষেত্র
Name[ca]=Camps de pau
Name[ca@valencia]=Camps de pau
Name[cs]=Mírová pole
Name[csb]=Pòla miru
Name[da]=Fields of Peace
Name[de]=Ruhe in den Feldern
Name[el]=Πεδία της ειρήνης
Name[en_GB]=Fields of Peace
Name[eo]=Kampoj de paco
Name[es]=Campos de paz
Name[et]=Rahuväljad
Name[eu]=Pakearen larrak
Name[fi]=Rauhan kentät
Name[fr]=Champs de paix
Name[fy]=Fjilden fan frede
Name[ga]=Fields of Peace
Name[gl]=Campos de paz
Name[gu]=શાંતિનાં વિસ્તારો
Name[he]=שדות של שלום
Name[hi]=शांति के क्षेत्र
Name[hne]=फील्ड आफ पीस
Name[hr]=Polja mira
Name[hu]=Békés mezők
Name[ia]=Placias de Pace
Name[id]=Padang Kedamaian
Name[is]=Friðarvellir
Name[it]=Campi di pace
Name[ja]=穏やかな田園
Name[kk]=Бейбіт дала
Name[km]=វាល​សន្តិភាព
Name[kn]=ನೆಮ್ಮದಿಯ ಹುಲ್ಲುಗಾವಲುಗಳು
Name[ko]=평화의 들판
Name[ku]=Qadên Aştiyê
Name[lt]=Taikos laukai
Name[lv]=Miera lauki
Name[mk]=Полиња на мирот
Name[ml]=സമാധാനത്തിന്റെ വിളനിലങ്ങള്‍
Name[nb]=Fredsmarkene
Name[nds]=Fredensfeld
Name[nl]=Fields of Peace
Name[nn]=Fredsmarkene
Name[or]=ଶାନ୍ତିର କ୍ଷେତ୍ର
Name[pa]=ਅਮਨ ਦੇ ਖੇਤ
Name[pl]=Spokojne pola
Name[pt]=Campos de Paz
Name[pt_BR]=Campos de paz
Name[ro]=Cîmpurile păcii
Name[ru]=Нива
Name[si]=සාමය කෙත්
Name[sk]=Pokojné polia
Name[sl]=Polja miru
Name[sr]=Пољана спокоја
Name[sr@ijekavian]=Пољана спокоја
Name[sr@ijekavianlatin]=Poljana spokoja
Name[sr@latin]=Poljana spokoja
Name[sv]=Fridfulla fält
Name[ta]=Fields of Peace
Name[te]=ఫీల్‍డ్స్   ఆఫ్ పీస్
Name[tg]=Майдонҳои сулҳ
Name[th]=ทุ่งหญ้าแห่งสันติ
Name[tr]=Buğday Tarlası
Name[uk]=Поля миру
Name[wa]=Tchamps del påye
Name[x-test]=xxFields of Peacexx
Name[zh_CN]=和平的原野
Name[zh_TW]=Fields of Peace

X-Hawaii-PluginInfo-Name=Fields_of_Peace
X-Hawaii-PluginInfo-Author=Kenneth Wimer
X-Hawaii-PluginInfo-Email=ken@oxygen-icons.org
X-Hawaii-PluginInfo-License=LGPLv3
