[Desktop Entry]
Name=Finally Summer in Germany
Name[ar]=وأخيراً الصيف في المانيا
Name[ast]=Branu final n'Alemaña
Name[be@latin]=Poźniaje leta ŭ Niamieččynie
Name[bg]=Най-накрая лято в Германия
Name[bn]=অবশেষে জার্মানীতে গ্রীষ্মকাল
Name[bn_IN]=জার্মানির গ্রীষ্মের রূপ
Name[ca]=Final d'estiu a Alemanya
Name[ca@valencia]=Final d'estiu a Alemanya
Name[cs]=Konečně léto v Německu
Name[da]=Finally Summer in Germany
Name[de]=Endlich Sommer in Deutschland
Name[el]=Επιτέλους γερμανικό καλοκαίρι
Name[en_GB]=Finally Summer in Germany
Name[eo]=Finfine somero en Germanujo
Name[es]=Verano final en Alemania
Name[et]=Saksamaal on lõpuks suvi
Name[eu]=Azkenean uda Alemanian
Name[fi]=Saksan kesä
Name[fr]=Enfin l'été en Allemagne
Name[fy]=Einlik simmer yn dútslân
Name[ga]=Finally Summer in Germany
Name[gl]=Por fin é verao en Alemaña
Name[gu]=આખરે જર્મનીમાં ઉનાળો
Name[he]=סוף סוף קיץ בגרמניה
Name[hi]=जर्मनी में गर्मी
Name[hne]=जरमनी मं आखिर मं गरमी
Name[hr]=Konačno ljeto u Njemačkoj
Name[hu]=Végre itt a nyár Németországban
Name[ia]=A le fin Estate in Germania
Name[id]=Akhirnya Musim Panas di Jerman
Name[is]=Loksins er sumar í Þýskalandi
Name[it]=Finalmente estate in Germania
Name[ja]=ドイツの初夏
Name[kk]=Германиядағы жаз таманы
Name[km]=ចុង​រដូច​ក្ដៅ​នៅ​ប្រទេស​អាល្លឺម៉ង់
Name[kn]=ಕೊನೆಗೂ ಜರ್ಮನಿಯಲ್ಲಿ ಬೇಸಿಗೆ
Name[ko]=독일에 온 여름
Name[ku]=Li Almanyayê Havîna Dawî
Name[lt]=Pagaliau vasara Vokietijoje
Name[lv]=Beidzot Vācijā ir vasara
Name[mai]=जर्मनीमे आखिर गर्मी
Name[mk]=Конечно лето во Германија
Name[ml]=ജര്‍മ്മനിയില്‍ വസന്തം
Name[nb]=Endelig sommer i Tyskland
Name[nds]=Oplest Sommer in Düütschland
Name[nl]=Eindelijk zomer in Duitsland
Name[nn]=Endeleg sommar i Tyskland
Name[or]=ଶେଷରେ ଜର୍ମାନରେ ଗ୍ରୀଷ୍ମ ଋତୁ
Name[pa]=ਜਰਮਨੀ ਵਿੱਚ ਅੰਤ ਵਿੱਚ ਗਰਮੀਆਂ
Name[pl]=Wreszcie lato w Niemczech
Name[pt]=Finalmente Verão na Alemanha
Name[pt_BR]=Finalmente é verão na Alemanha
Name[ro]=În sfîrșit vară în Germania
Name[ru]=В Германии настало лето
Name[si]=අවසානයේ ජර්නියට ග්‍රීෂ්මය
Name[sk]=Konečne leto v Nemecku
Name[sl]=Končno pomlad v Nemčiji
Name[sr]=Напокон лето у Немачкој
Name[sr@ijekavian]=Напокон љето у Њемачкој
Name[sr@ijekavianlatin]=Napokon ljeto u Njemačkoj
Name[sr@latin]=Napokon leto u Nemačkoj
Name[sv]=Äntligen sommar i Tyskland
Name[ta]=Finally Summer in Germany
Name[te]=జెర్మనీలో చివరి సమ్మర్
Name[tg]=Наконец лето в Германии
Name[th]=ก่อนสิ้นฤดูร้อนในเยอรมัน
Name[tr]=Nihayet Almanya'da Yaz
Name[uk]=Нарешті літо в Німеччині
Name[wa]=Dierin esté en Almagne
Name[x-test]=xxFinally Summer in Germanyxx
Name[zh_CN]=雏菊
Name[zh_TW]=德國終於夏天了

X-Hawaii-PluginInfo-Name=Finally_Summer_in_Germany
X-Hawaii-PluginInfo-Author=Kenneth Wimer
X-Hawaii-PluginInfo-Email=ken@oxygen-icons.org
X-Hawaii-PluginInfo-License=LGPLv3
