[Desktop Entry]
Name=Evening
Name[ar]=المساء
Name[ast]=Tarde
Name[bg]=Вечер
Name[bn]=সন্ধ্যা
Name[ca]=Vespre
Name[ca@valencia]=Vespre
Name[cs]=Večer
Name[da]=Aften
Name[de]=Abend
Name[el]=Βράδυ
Name[en_GB]=Evening
Name[eo]=Vespero
Name[es]=Tarde
Name[et]=Õhtu
Name[eu]=Arratsaldea
Name[fi]=Ilta
Name[fr]=Soirée
Name[fy]=Jun
Name[ga]=Evening
Name[gl]=Serán
Name[gu]=સાંજ
Name[he]=ערב
Name[hi]=शाम
Name[hr]=Večer
Name[hu]=Este
Name[ia]=Vespera
Name[id]=Malam
Name[is]=Kvöld
Name[it]=Sera
Name[ja]=夕べ
Name[ka]=საღამო
Name[kk]=Кешкісін
Name[km]=ល្ងាច
Name[kn]=ಸಂಜೆ
Name[ko]=저녁
Name[lt]=Vakaras
Name[lv]=Vakars
Name[mai]=शाम
Name[mk]=Вечер
Name[ml]=വൈകുന്നേരം
Name[ms]=Petang
Name[nb]=Kveld
Name[nds]=Avend
Name[nl]=Avond
Name[nn]=Kveld
Name[pa]=ਤਰਕਾਲਾਂ
Name[pl]=Popołudnie
Name[pt]=Fim de Tarde
Name[pt_BR]=Fim de tarde
Name[ro]=Seară
Name[ru]=Вечер
Name[si]=සවස
Name[sk]=Večer
Name[sl]=Večer
Name[sr]=Вече
Name[sr@ijekavian]=Вече
Name[sr@ijekavianlatin]=Veče
Name[sr@latin]=Veče
Name[sv]=Kväll
Name[tg]=Бенин
Name[th]=ยามสนธยา
Name[tr]=Akşam
Name[uk]=Вечір
Name[wa]=Vesprêye
Name[x-test]=xxEveningxx
Name[zh_CN]=黄昏
Name[zh_TW]=傍晚

X-Mirage-PluginInfo-Name=Evening
X-Mirage-PluginInfo-Author=Christoph Kummer
X-Mirage-PluginInfo-Email=christoph@traeumt.net
X-Mirage-PluginInfo-License=LGPLv3
