[Desktop Entry]
Name=Red Leaf
Name[ar]=الورقة الحمراء
Name[ast]=Fueya colorada
Name[be@latin]=Čyrvony list
Name[bg]=Червени листа
Name[bn]=লাল পাতা
Name[ca]=Fulla vermella
Name[ca@valencia]=Fulla vermella
Name[cs]=Červený list
Name[da]=Red Leaf
Name[de]=Rotes Blatt
Name[el]=Κόκκινο φύλλο
Name[en_GB]=Red Leaf
Name[eo]=Ruĝa folio
Name[es]=Hoja roja
Name[et]=Punane leht
Name[eu]=Hosto gorria
Name[fi]=Punainen lehti
Name[fr]=Feuille rouge
Name[fy]=Read blêd
Name[ga]=Red Leaf
Name[gl]=Folla vermella
Name[gu]=લાલ પાંદડું
Name[he]=עלה אדום
Name[hi]=लाल पत्ता
Name[hne]=लाल पत्ती
Name[hr]=Crveni list
Name[hu]=Piros levél
Name[ia]=Folio Rubie
Name[id]=Daun Merah
Name[is]=Rauð lauf
Name[it]=Foglia rossa
Name[ja]=赤い葉
Name[kk]=Қызыл жапырақ
Name[km]=ស្លឹកឈើ​ក្រហម
Name[kn]=ಕೆಂಪು ಎಲೆ
Name[ko]=붉은 잎
Name[ku]=Pelê Sor
Name[lt]=Raudonas lapas
Name[lv]=Sarkanā lapa
Name[mai]=लाल पत्ता
Name[mk]=Црвен лист
Name[ml]=ചുവപ്പനില
Name[nb]=Rødt løv
Name[nds]=Root Blatt
Name[nl]=Rood blad
Name[nn]=Raudt lauv
Name[or]=Red Leaf
Name[pa]=ਲਾਲ ਪੱਤਾ
Name[pl]=Czerwony liść
Name[pt]=Folha Vermelha
Name[pt_BR]=Folha vermelha
Name[ro]=Frunză roșie
Name[ru]=Красный лист
Name[si]=රතු පත්‍රය
Name[sk]=Červený list
Name[sl]=Rdeč list
Name[sr]=Црвени листак
Name[sr@ijekavian]=Црвени листак
Name[sr@ijekavianlatin]=Crveni listak
Name[sr@latin]=Crveni listak
Name[sv]=Rött löv
Name[ta]=Red Leaf
Name[te]=రెడ్ లీఫ్
Name[tg]=Красный лист
Name[th]=ใบไม้สีแดง
Name[tr]=Kırmızı Yaprak
Name[uk]=Червоний листок
Name[wa]=Rodje foye
Name[x-test]=xxRed Leafxx
Name[zh_CN]=血珞朱叶
Name[zh_TW]=紅葉

X-Mirage-PluginInfo-Name=Red_Leaf
X-Mirage-PluginInfo-Author=Joseph Connors
X-Mirage-PluginInfo-Email=josephconnors@usa.net
X-Mirage-PluginInfo-License=LGPLv3
