[Desktop Entry]
Name=Grass
Name[ar]=العشب
Name[ast]=Yerba
Name[bg]=Трева
Name[bn]=ঘাস
Name[ca]=Herba
Name[ca@valencia]=Herba
Name[cs]=Tráva
Name[da]=Grass
Name[de]=Gras
Name[el]=Γρασίδι
Name[en_GB]=Grass
Name[es]=Hierba
Name[et]=Rohi
Name[eu]=Belarra
Name[fi]=Ruoho
Name[fr]=Graphisme
Name[ga]=Grass
Name[gu]=ઘાસ
Name[he]=דשא
Name[hi]=ग्रास
Name[hr]=Grass
Name[hu]=Fűszálak
Name[ia]=Grass
Name[id]=Rerumputan
Name[it]=Erba
Name[ja]=Grass
Name[ka]=ბალახი
Name[kk]=Шөп
Name[km]=ស្មៅ
Name[kn]=ಹುಲ್ಲು
Name[ko]=풀
Name[lt]=Žolė
Name[lv]=Zāle
Name[nb]=Gress
Name[nds]=Gras
Name[nl]=Gras
Name[nn]=Gras
Name[pa]=ਘਾਹ
Name[pl]=Trawa
Name[pt]=Relva
Name[pt_BR]=Grama
Name[ru]=Трава
Name[sk]=Tráva
Name[sl]=Trava
Name[sr]=Трава
Name[sr@ijekavian]=Трава
Name[sr@ijekavianlatin]=Trava
Name[sr@latin]=Trava
Name[sv]=Gräs
Name[th]=ต้นหญ้า
Name[uk]=Трава
Name[wa]=Yebe
Name[x-test]=xxGrassxx
Name[zh_CN]=草地
Name[zh_TW]=草地

X-Hawaii-PluginInfo-Name=Grass
X-Hawaii-PluginInfo-Author=Risto Saukonpää
X-Hawaii-PluginInfo-Email=risto@saukonpaa.com
X-Hawaii-PluginInfo-License=LGPLv3
