[Desktop Entry]
Type=Service
Name=Swirl
Comment=Noisy background with animated swirl
Icon=preferences-desktop-wallpaper
ServiceTypes=Shell/DeclarativeWallpaper
X-Hawaii-MainScript=ui/main.qml
X-Hawaii-PluginInfo-Author=Pier Luigi Fiorini
X-Hawaii-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Hawaii-PluginInfo-Name=org.hawaii.swirl
X-Hawaii-PluginInfo-Version=1.0
X-Hawaii-PluginInfo-Website=http://www.maui-project.org/
X-Hawaii-PluginInfo-License=LGPL
X-Hawaii-PluginInfo-EnabledByDefault=true
