[Desktop Entry]
Name=Hanami
Name[ar]=هانامي
Name[ast]=Hanami
Name[bn]=হানামি
Name[ca]=Hanami
Name[ca@valencia]=Hanami
Name[cs]=Hanami
Name[da]=Hanami
Name[de]=Hanami
Name[en_GB]=Hanami
Name[es]=Hanami
Name[et]=Hanami
Name[eu]=Hanami
Name[fi]=Hanami
Name[fr]=Hanami
Name[ga]=Hanami
Name[gu]=હાનામી
Name[he]=מייצג פרחים
Name[hi]=हनामी
Name[hr]=Hanami
Name[hu]=Hanami
Name[ia]=Hanami
Name[id]=Hanami
Name[it]=Hanami
Name[ja]=ハナミ
Name[kk]=Ханами
Name[km]=ហាណាមិ
Name[kn]=ಹನಾಮಿ
Name[ko]=하나미
Name[lt]=Hanami
Name[lv]=Ziedoši ķirši
Name[nb]=Hanami
Name[nds]=Hanami
Name[nl]=Hanami
Name[nn]=Hanami
Name[pa]=ਹਾਨਾਮੀ
Name[pl]=Hanami
Name[pt]=Hanami
Name[pt_BR]=Hanami
Name[ru]=Ханами
Name[si]=හනාමි
Name[sk]=Hanami
Name[sl]=Hanami
Name[sr]=Ханами
Name[sr@ijekavian]=Ханами
Name[sr@ijekavianlatin]=Hanami
Name[sr@latin]=Hanami
Name[sv]=Hanami
Name[tg]=Ханами
Name[th]=ดอกซากุระบาน
Name[uk]=Ханамі
Name[wa]=Hanami
Name[x-test]=xxHanamixx
Name[zh_CN]=Hanami
Name[zh_TW]=Hanami

X-Hawaii-PluginInfo-Name=Hanami
X-Hawaii-PluginInfo-Author=Alexandre Courbot
X-Hawaii-PluginInfo-Email=gnurou@gmail.com
X-Hawaii-PluginInfo-License=LGPLv3
